
html, body{
    margin: 0px;
    background-color: #A2A2D0;
    color: white;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.cards {
    position: relative;
    width: 150px;
    left: 125px;
    margin-left: -100px;
}

#computer-cards, #player-cards{
    height: 250px;
}
